@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<messages> messageBoard = ViewBag.messages;
    string name = ViewBag.name;
    int? ID = ViewBag.ID;
}
<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">

    <title>xxx商品</title>

</head>
<style>
    .stars {
        display: flex;
        cursor: pointer;
    }

    .stars span {
        font-size: 2rem;
        color: gray;
    }

    .stars span.selected {
        color: gold;
    }

    .notNewStars{
        color: gold;
    }

    .popUpHint {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -40%);
    }

    .leftIsNo {
        position: absolute;
        top: 70%;
        left: 35%;
        transform: translate(-35%, -70%);
    }

    .rightIsYes {
        position: absolute;
        top: 70%;
        left: 65%;
        transform: translate(-65%, -70%);
    }

    #checkDelcover, #checkDelcovers {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.1);
        z-index: 9998;
    }
    #checkHint {
        margin: 0 auto;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -45%);
        width: 400px;
        height: 250px;
        background-color: white;
        z-index: 9999;
    }

    #thisMessageComplain {
        margin: 0 auto;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -45%);
        width: 400px;
        height: 100%;
        background-color: white;
        z-index: 9999;
    }
    .complainDetail{
        width: 300px;
        height: 400px;
    }
</style>

<body>
    <div id="cover">
        <div class="showMessage">
            <ol>
            @foreach (messages a in messageBoard)
            {
                @:<li class="messageBase">
                <span class="messageID" style="display: none" name="messageID">@a.messageID</span>
                //訊息編號
                <span class="replyID" style="display: none" name="replyID">@a.replyID</span>
                <span class="userID" style="display: none" name="userID">@a.userID</span>
                <span style="font-size:15px" name="userName">用戶: @a.userName</span>//用戶名
                <span class="datetime" style="font-size:10px">@a.date.ToString("yyyy/MM/dd HH:mm:ss")</span>
                //留言時間
                <span class="messageDel" style="font-size:15px;color:red">刪除</span>
                <span class="messageMod" style="font-size:15px">修改</span>
                <span class="messageComplain" style="font-size:15px">檢舉</span>
                <span class="messageReply" style="font-size:15px">回覆</span><br>
                @if (a.replyID==0) {
                    <sapn>說: </sapn>
                    <span class="messageWords">@a.main</span><br>
                    string star = new string('★',(int)@a.score)+new string('☆',(int)(5-@a.score));
                    <span>評分：</span><span class="notNewStars">@star</span>
                }
                else{
                    <sapn>回覆: </sapn>
                    <span class="messageWords">@a.main</span><br>
                }
                <input class="modThis" style="display: none" placeholder="輸入想修改的內容...">
                <input class="replyThis" style="display: none" placeholder="輸入想回覆的內容...">
                <span class="giveup" style="font-size:15px;display: none">放棄編輯</span><br>
                @if (@a.imageData != null){
                    string base64Image = "data:image/jpeg;base64," + Convert.ToBase64String(@a.imageData);
                    <img class="showImage" src="@base64Image" alt="Image" />
                }
                else{
                    <img class="showImage" src=''/>
                }
                <input class="imageFileOfMessageMod" style="display: none" type="file" accept=".png, .jpg, .jpeg" name="imageData"/>
                <div class="modImg"></div>
                <div class="stars modStarRating"></div>
                @:</li>
            }
            </ol>
        </div>
        <hr>
        <div>
            <input id="NewMeessage" type="text" name="main" placeholder="New message">
            <button id="addNewMeessage" type="submit">新增留言</button>
        </div>
        <div class="stars" id="newStarRating">
            <span data-value="1">★</span>
            <span data-value="2">★</span>
            <span data-value="3">★</span>
            <span data-value="4">★</span>
            <span data-value="5">★</span>
        </div>
            <input type="file" accept=".png, .jpg, .jpeg" name="imageFile" id="imageFileOfMessage"/>
            <div id="newImg"></div>
    </div>
</body>
<link href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' rel='stylesheet'></link>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet"></link>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/dayjs/1.4.1/dayjs.min.js"></script>
<script>

    //圖片預覽、存入變數上傳與顯示(新留言)
    var upLoadImage;
    var newMessageImageHtml="";
    (function($) {
    var imgNewWidth = 200, // 圖片新寬度
    img = new Image(),
    canvas = document.createElement("canvas"),
    context = canvas.getContext("2d"),
    file, fileReader, dataUrl;

    // 接收上傳檔案
    $("#imageFileOfMessage").change(function() {
    file = this.files[0];
    // 圖片處理
    if (file && file.type.indexOf("image") == 0) {
    fileReader = new FileReader();
    fileReader.onload = getFileInfo;
    fileReader.readAsDataURL(file);
    }
    });

    function getFileInfo(e) {
    dataUrl = e.target.result,

    // 取得圖片
    img.src = dataUrl;
    }

    // 圖片載入後
    img.onload = function() {
    var width = this.width, // 圖片原始寬度
    height = this.height, // 圖片原始高度
    imgNewHeight = imgNewWidth * height / width, // 圖片新高度
    html = "",
    newImg;

    // 使用 canvas 調整圖片寬高
    canvas.width = imgNewWidth;
    canvas.height = imgNewHeight;
    context.clearRect(0, 0, imgNewWidth, imgNewHeight);

    // 調整圖片尺寸
    context.drawImage(img, 0, 0, imgNewWidth, imgNewHeight);

    // 顯示預覽圖片 壓縮80%
    newImg = canvas.toDataURL("image/jpeg", 0.8);
    html += "<img src='" + newImg + "'/>";
    html += "<p>上傳預覽 " + imgNewWidth + "x" + imgNewHeight + "</p>";
    html += "<p>檔案大小約 " + Math.round(0.75 * newImg.length / 1000) + "k</p>";
    $("#newImg").html(html);
    newMessageImageHtml = "<img class='showImage' src='" + newImg + "'/>";
    upLoadImage=newImg.split(",")[1];

    };
    })(jQuery);



    //產生留言
    //星級評分(新留言)
    const stars = document.querySelectorAll('#newStarRating span');
    stars.forEach(star => {
        star.addEventListener('click', () => {
            selectedRating = star.getAttribute('data-value');
            stars.forEach(s => s.classList.remove('selected'));
            for (let i = 0; i < selectedRating; i++) {
                stars[i].classList.add('selected');
            }
        });
    });
    let selectedRating = 0;
    function newMessageList() {

        //取得現在時間
        var getNowTime = dayjs().format("YYYY/MM/DD HH:mm:ss");
        //新增留言後立馬取得留言的ID並新增,使用者可能馬上修改留言,ajax改同步執行(async: false)
        var getMessageID=0;
        const catchNewMessage = $("#NewMeessage").val();

        if (selectedRating === 0 || catchNewMessage == "") {
            alert('請選擇星數並填寫留言。');
            return;
        }else{
            var errorMessage = false;
            $.ajax({
                url: "/project/setMessage",
                data: {replyID: 0,userID: @ID,userName: @name,main: catchNewMessage,date: getNowTime,score :selectedRating,imageData:upLoadImage },
                type: 'POST',
                async: false,
                success: (res) =>{getMessageID=res;},
                error: err => {errorMessage = true;}
            })
            if(errorMessage){
                alert("發生錯誤，請聯絡管理員。");
            }
            else{
                $(".showMessage ol").append(`
                                <li class="messageBase">
                                    <span class="messageID" style="display: none" name="messageID">${getMessageID}</span>
                                    <span style="font-size:15px" name="userName">用戶: ${@name}</span>
                                    <span class="datetime" style="font-size:10px">${getNowTime}</span>
                                    <span class="messageDel" style="font-size:15px;color:red">刪除</span>
                                    <span class="messageMod" style="font-size:15px">修改</span>
                                    <span class="messageComplain" style="font-size:15px">檢舉</span>
                                    <span class="messageReply" style="font-size:15px">回覆</span><br>
                                    <sapn>說: </sapn>
                                    <span class="messageWords">${catchNewMessage}</span><br>
                                    <span>評分：</span><span class="notNewStars">${'★'.repeat(selectedRating)}${'☆'.repeat(5 - selectedRating)}</span>
                                    <input class="modThis" style="display: none" placeholder="輸入想修改的內容...">
                                    <input class="replyThis" style="display: none" placeholder="輸入想回覆的內容...">
                                    <span class="giveup" style="font-size:15px;display: none">放棄編輯</span><br>
                                    ${newMessageImageHtml}
                                    <input class="imageFileOfMessageMod" style="display: none" type="file" accept=".png, .jpg, .jpeg" name="imageData"/>
                                    <div class="modImg"></div>
                                    <div class="stars modStarRating"></div>
                                </li>`);
                //清空輸入框與星星
                selectedRating = 0;
                stars.forEach(s => s.classList.remove('selected'));
                $('#NewMeessage').val('');
                //新留言的刪除、修改、檢舉、回覆
                $("li:last-child .messageDel").click(messageDel);
                $("li:last-child .messageMod").click(messageMod);
                $("li:last-child .messageComplain").click(messageComplain);
                $("li:last-child .messageReply").click(messageReply);
                $("li:last-child .giveup").click(giveUp);
            }
        }
    }


    //刪除留言
    function messageDel() {
        let num = $(this).parent().index();

        //彈出視窗以外的部分為透明層，防止其他操作
        overLay();

        //彈出提示視窗確認是否刪除留言
        theHint();
        var popUpWindow = "<span class='popUpHint'>是否刪除留言?</br>提醒您，刪除後無法復原。</span><button class='leftIsNo' id='userNo'>否</button><button class='rightIsYes' id='userYes'>是</button>";
        $("#checkHint").html(popUpWindow);

        //點透明層視同取消，移除彈出畫面、透明層
        $("#checkDelcover").on("click",
            () => {
                $("#checkDelcover").remove();
                $("#checkHint").remove();
            });
        $("#userNo").on("click",
            () => {
                $("#checkDelcover").remove();
                $("#checkHint").remove();
            });
        $("#userYes").on("click",
            () => {
                //可能會移除到切版，增加class辨別刪除對象
                $("#checkDelcover").remove();
                $("#checkHint").remove();

                let i = $(".messageID")[num].textContent;
                let reID = $(".replyID")[num+1].textContent;
                $.ajax({
                    url: "/project/delMessage",
                    data: { messageID: i},
                    type: 'GET',
                    error: err => alert("發生錯誤，請聯絡管理員。"),
                })
                $(`li.messageBase:nth-child(${num + 1})`).remove();

                if(reID == i && reID!=0){
                    i = $(".messageID")[num].textContent;
                    $.ajax({
                    url: "/project/delMessage",
                    data: { messageID: i},
                    type: 'GET',
                    error: err => alert("發生錯誤，請聯絡管理員。"),
                })
                    $(`li.messageBase:nth-child(${num + 1})`).remove();
                }
            });
    }


    //modNum起始設置為(0<)，否則nth-child無法正確選擇
    let modNum=-1;
    //圖片預覽、存入變數上傳與顯示(修改)
    var upLoadImageMod="";
    var modMessageImageHtml="";
    let imageSrcUpDate;
    (function($) {
    var img = new Image(),
    canvas = document.createElement("canvas"),
    context = canvas.getContext("2d"),
    file, fileReader, dataUrl;


    // 接收上傳檔案
    $(`.imageFileOfMessageMod`).change(function() {
    file = this.files[0];
    // 圖片處理
    if (file && file.type.indexOf("image") == 0) {
    fileReader = new FileReader();
    fileReader.onload = getFileInfo;
    fileReader.readAsDataURL(file);
    }
    });

    function getFileInfo(e) {
    dataUrl = e.target.result,

    // 取得圖片
    img.src = dataUrl;
    }

    // 圖片載入後
    img.onload = function() {
    var width = this.width, // 圖片原始寬度
    height = this.height, // 圖片原始高度
    imgNewHeight = 200 * height / width, // 圖片新高度
    htmlMod = "",
    newImg;

    // 使用 canvas 調整圖片寬高
    canvas.width = 200;
    canvas.height = imgNewHeight;
    context.clearRect(0, 0, 200, imgNewHeight);

    // 調整圖片尺寸
    context.drawImage(img, 0, 0, 200, imgNewHeight);

    // 顯示預覽圖片 壓縮80%
    newImg = canvas.toDataURL("image/jpeg", 0.8);
    htmlMod += "<img src='" + newImg + "'/>";
    htmlMod += "<p>上傳預覽 " + 200 + "x" + imgNewHeight + "</p>";
    htmlMod += "<p>檔案大小約 " + Math.round(0.75 * newImg.length / 1000) + "k</p>";
    $(`li:nth-child(${modNum + 1}) .modImg`).html(htmlMod);
    modMessageImageHtml = "<img class='showImage' src='" + newImg + "'/>";
    imageSrcUpDate=newImg;
    upLoadImageMod=newImg.split(",")[1];

    };
    })(jQuery);

    //星級評分(修改留言)
    let modSelectedRating = 0;
    function modStarSelectedColor(){
        var modStars = document.querySelectorAll('.modStarRating span');
        modStars.forEach(star => {
            star.addEventListener('click', () => {
                modSelectedRating = star.getAttribute('data-value');
                modStars.forEach(s => s.classList.remove('selected'));
                for (let i = 0; i < modSelectedRating; i++) {
                    modStars[i].classList.add('selected');
                }
            });
        });
    }

    //修改留言
    function messageMod() {
        //檢查上回覆是否有輸入值
        if($(`li:nth-child(${replyNum + 1 }) .replyThis`).val() != "" && replyNum!=-1){
            //彈出視窗以外的部分為透明層，防止其他操作
            overLay();

            //彈出提示視窗確認是否放棄上個回覆，如果上個回覆不為空
            theHint();
            var popUpWindow = "<span class='popUpHint'>放棄上個回覆嗎?</br>按'是'後無法復原喔。</span><button class='leftIsNo' id='userNo'>否</button><button class='rightIsYes' id='userYes'>是</button>";
            $("#checkHint").html(popUpWindow);

            //點透明層視同取消，移除彈出畫面、透明層
            $("#checkDelcover").on("click",
                () => {
                    $("#checkDelcover").remove();
                    $("#checkHint").remove();
                    $(`li:nth-child(${num + 1}) .modThis`).hide();
                    $(`li:nth-child(${num + 1}) .giveup`).hide();
                });
            $("#userNo").on("click",
                () => {
                    $("#checkDelcover").remove();
                    $("#checkHint").remove();
                    $(`li:nth-child(${num + 1}) .modThis`).hide();
                    $(`li:nth-child(${num + 1}) .giveup`).hide();
                });
            $("#userYes").on("click",
                () => {
                    //清除文字不能用選擇器
                    $(".replyThis")[replyNum].value = "";
                    $(`li:nth-child(${replyNum + 1}) .replyThis`).hide();
                    $(`li:nth-child(${replyNum + 1}) .giveup`).hide();
                    $("#checkDelcover").remove();
                    $("#checkHint").remove();
                    replyNum=-1;
                });
        }else if(replyNum>-1){
                $(`li:nth-child(${replyNum + 1}) .replyThis`).hide();
                $(`li:nth-child(${replyNum + 1}) .giveup`).hide();
                replyNum=-1;
        }



        //修改留言正文
        let num = $(this).parent().index();
        $(`li:nth-child(${num + 1}) .modThis`).show();
        $(`li:nth-child(${num + 1}) .giveup`).show();
        $(`li:nth-child(${num + 1}) .imageFileOfMessageMod`).show();
        let getThisModText = $(`li:nth-child(${num + 1}) .modThis`).val();
        let i = $(".messageID")[num].textContent;
        //取得現在時間
        var getNowTime = dayjs().format("YYYY/MM/DD HH:mm:ss");
        
        if (getThisModText != '') {
            if (modSelectedRating === 0) {
                alert('請選擇星數。');
                return;}

            var errorMessage = false;

            $.ajax({
            url: "/project/modMessage",
            data: { messageID: i, userID: @ID,main: getThisModText,date: getNowTime,score :modSelectedRating,imageData:upLoadImageMod },
            type: 'POST',
            async: false,
            error: err => {errorMessage = true;}
            })
            if(errorMessage){
                alert("發生錯誤，請聯絡管理員。");
                return;
            }

            //時間、星數、留言即時更新
            $(`li:nth-child(${num + 1}) .messageWords`).text(getThisModText);
            $(`li:nth-child(${num + 1}) .datetime`).html(getNowTime);
            $(`li:nth-child(${num + 1}) .notNewStars`).html(`${'★'.repeat(modSelectedRating)}${'☆'.repeat(5 - modSelectedRating)}`);
            $(`li:nth-child(${num + 1}) .showImage`).attr("src",imageSrcUpDate);

            //清除與隱藏
            modSelectedRating = 0;
            modNum=-1;
            $(".modThis")[num].value = "";
            $(`li:nth-child(${num + 1}) .modThis`).hide();
            $(`li:nth-child(${num + 1}) .giveup`).hide();
            $(`.imageFileOfMessageMod`)[num].value = "";
            $(`li:nth-child(${num + 1}) .imageFileOfMessageMod`).hide();
            $(`ol>li:nth-child(${num + 1}) .modStarRating`).html('');
            $(`li:nth-child(${num + 1}) .modImg`).html('');
            modMessageImageHtml="";
            upLoadImageMod="";
            return;
        }
        //當選擇修改另一個留言時，檢查上個修改是否有輸入字，並對使用者做出提示，關閉上個修改留言輸入框
        if(modNum>-1 && modNum!=num){
            if($(`li:nth-child(${modNum + 1}) .modThis`).val() != "" || modSelectedRating!=0 || upLoadImageMod!=""){
                //彈出視窗以外的部分為透明層，防止其他操作
                overLay();
                //彈出提示視窗確認是否放棄上個修改，如果上個修改不為空
                theHint();
                var popUpWindow = "<span class='popUpHint'>上個修改尚未完成。</br>按'是'將刪除上個修改，無法復原。</span><button class='leftIsNo' id='userNo'>否</button><button class='rightIsYes' id='userYes'>是</button>";
                $("#checkHint").html(popUpWindow);

                //點透明層視同取消，移除彈出畫面、透明層
                $("#checkDelcover").on("click",
                    () => {
                        $("#checkDelcover").remove();
                        $("#checkHint").remove();
                        $(`li:nth-child(${num + 1}) .modThis`).hide();
                        $(`li:nth-child(${num + 1}) .giveup`).hide();
                        $(`ol>li:nth-child(${num + 1}) .modStarRating`).html('');
                    });
                $("#userNo").on("click",
                    () => {
                        $("#checkDelcover").remove();
                        $("#checkHint").remove();
                        $(`li:nth-child(${num + 1}) .modThis`).hide();
                        $(`li:nth-child(${num + 1}) .giveup`).hide();
                        $(`ol>li:nth-child(${num + 1}) .modStarRating`).html('');
                        $(`li:nth-child(${num + 1}) .imageFileOfMessageMod`).hide();
                    });
                $("#userYes").on("click",
                    () => {
                        //清除文字不能用選擇器
                        $(`.imageFileOfMessageMod`)[modNum].value = "";
                        $(`li:nth-child(${modNum + 1}) .imageFileOfMessageMod`).hide();
                        $(`li:nth-child(${modNum + 1}) .modImg`).html('');
                        $(".modThis")[modNum].value = "";
                        $(`li:nth-child(${modNum + 1}) .modThis`).hide();
                        $(`li:nth-child(${modNum + 1}) .giveup`).hide();
                        $("#checkDelcover").remove();
                        $("#checkHint").remove();
                        $(`ol>li:nth-child(${modNum + 1}) .modStarRating`).html('');
                        modSelectedRating = 0;
                        modNum=num;
                        modStarSelectedColor();
                        modMessageImageHtml="";
                        upLoadImageMod="";
                    });
            }else if(modNum!=num){
                $(`li:nth-child(${modNum + 1}) .modThis`).hide();
                $(`li:nth-child(${modNum + 1}) .giveup`).hide();
                $(`ol>li:nth-child(${modNum + 1}) .modStarRating`).html('');
                $(`li:nth-child(${modNum + 1}) .imageFileOfMessageMod`).hide();
            }
        }
        if(modNum!=num){
            $(`ol>li:nth-child(${num + 1}) .modStarRating`).append(`
                <span data-value="1">★</span>
                <span data-value="2">★</span>
                <span data-value="3">★</span>
                <span data-value="4">★</span>
                <span data-value="5">★</span>`)
        }
        if($(`li:nth-child(${modNum + 1}) .modThis`).val() == "" && modSelectedRating==0 && upLoadImageMod==""){
            modNum=num;
        }
        if(modNum==-1){
            modNum=num;
        }
        modStarSelectedColor();
    }


    //放棄編輯(回覆、修改)
    function giveUp(){
        let num = $(this).parent().index();
        if($(`li:nth-child(${num + 1}) .modThis`).val() != '' || $(`li:nth-child(${num + 1 }) .replyThis`).val() != "" || upLoadImageMod!=""){
        //彈出視窗以外的部分為透明層，防止其他操作
        overLay();
        //彈出提示視窗確認是否放棄這則編輯，如果上個這則編輯不為空
        theHint();
        var popUpWindow = "<span class='popUpHint'>是否放棄修改?</br>提醒您，按'是'後無法復原。</span><button class='leftIsNo' id='userNo'>否</button><button class='rightIsYes' id='userYes'>是</button>";
        $("#checkHint").html(popUpWindow);

        //點透明層視同取消，移除彈出畫面、透明層
        $("#checkDelcover").on("click",
            () => {
                $("#checkDelcover").remove();
                $("#checkHint").remove();
            });
        $("#userNo").on("click",
            () => {
                $("#checkDelcover").remove();
                $("#checkHint").remove();
            });
        $("#userYes").on("click",
            () => {
                //清除文字不能用選擇器
                $(".modThis")[num].value = "";
                $(".replyThis")[num].value = "";
                $(`.imageFileOfMessageMod`)[num].value = "";
                $(`li:nth-child(${num + 1}) .imageFileOfMessageMod`).hide();
                $(`li:nth-child(${num + 1}) .replyThis`).hide();
                $(`li:nth-child(${num + 1}) .giveup`).hide();
                $(`li:nth-child(${num + 1}) .modThis`).hide();
                $(`li:nth-child(${num + 1}) .modImg`).html('');
                $(`ol>li:nth-child(${num + 1}) .modStarRating`).html('');
                $("#checkDelcover").remove();
                $("#checkHint").remove();
                modStarSelectedColor();
                modNum=-1;
                modMessageImageHtml="";
                upLoadImageMod="";
                modSelectedRating = 0;
            });
        }else{
                $(`li:nth-child(${num + 1}) .replyThis`).hide();
                $(`li:nth-child(${num + 1}) .giveup`).hide();
                $(`li:nth-child(${num + 1}) .modThis`).hide();
                $(`li:nth-child(${num + 1}) .imageFileOfMessageMod`).hide();
                $(`ol>li:nth-child(${num + 1}) .modStarRating`).html('');
                modStarSelectedColor();
                modNum=-1;
        }
    }


    //檢舉留言
    function messageComplain() {
        //檢舉內容
        let num = $(this).parent().index();
        //獲取文字不能用選擇器，會顯示未定義;
        let str = $(".messageWords")[num].textContent;

        //彈出視窗以外的部分為透明層，防止其他操作
        overLay();

        //彈出視窗確認是否檢舉留言
        var hint = document.createElement('div');
        hint.setAttribute('id', 'thisMessageComplain');
        document.body.appendChild(hint);
        var popUpWindow = `<form action='complainSend' method='post'><p style='display:none' name='content'>${str}</p><input class='harassment' name='harassment' type="checkbox" v-model='com'>騷擾<br><input class='pornography' name='pornography' type="checkbox" v-model='com'>色情內容<br><input class='threaten' name='threaten' type="checkbox" v-model='com'>威脅內容<br><input class='Hatred' name='Hatred' type="checkbox" v-model='com'>仇恨或歧視內容<br><textarea class='complainDetail' placeholder='請輸入內容' name='detail'></textarea><button type='submit' id ='usersend'>寄出</button></form>`;
        $("#thisMessageComplain").html(popUpWindow);

        //點透明層視同取消，移除彈出畫面、透明層
        $("#checkDelcover").on("click",
            () => {
                $("#checkDelcover").remove();
                $("#thisMessageComplain").remove();
            });

        
        function sendData(e) {
            e.preventDefault();
            alert("系統處理中，稍後立馬為您送信(您會收到視窗通知)。")

            let h = document.querySelector(".harassment").checked;
            let p = document.querySelector(".pornography").checked;
            let t = document.querySelector(".threaten").checked;
            let H = document.querySelector(".Hatred").checked;
            let d = $(".complainDetail").val();

            $.ajax({
                url: "project/complainSend",
                data: { content: str, harassment: h, pornography: p, threaten: t, Hatred: H, detail:d },
                type: 'GET',
                success: res => alert("系統已送信請管理員審核！"),
                error: err => alert("發生錯誤，請聯絡管理員。")
            })
        }
        $("#usersend").click(sendData);
    }


    //回覆留言
    //回覆也等同於新增留言，立馬取得留言的ID並新增,使用者可能馬上修改留言,ajax改同步執行(async: false)
    let replyNum=-1;
    function messageReply(){
        //檢查上修改是否有輸入值
        if($(`li:nth-child(${modNum + 1 }) .modThis`).val() != "" && modNum!=-1 && upLoadImageMod!=""){
            //彈出視窗以外的部分為透明層，防止其他操作
            overLay();

            //彈出提示視窗確認是否放棄上個修改，如果上個修改不為空
            theHint();
            var popUpWindow = "<span class='popUpHint'>放棄上個修改嗎?</br>按'是'後無法復原喔。</span><button class='leftIsNo' id='userNo'>否</button><button class='rightIsYes' id='userYes'>是</button>";
            $("#checkHint").html(popUpWindow);

            //點透明層視同取消，移除彈出畫面、透明層
            $("#checkDelcover").on("click",
                () => {
                    $("#checkDelcover").remove();
                    $("#checkHint").remove();
                    $(`li:nth-child(${num + 1}) .replyThis`).hide();
                    $(`li:nth-child(${num + 1}) .giveup`).hide();
                });
            $("#userNo").on("click",
                () => {
                    $("#checkDelcover").remove();
                    $("#checkHint").remove();
                    $(`li:nth-child(${num + 1}) .replyThis`).hide();
                    $(`li:nth-child(${num + 1}) .giveup`).hide();
                });
            $("#userYes").on("click",
                () => {
                    //清除文字不能用選擇器

                    $(".modThis")[modNum].value = "";
                    $(".replyThis")[modNum].value = "";
                    $(`.imageFileOfMessageMod`)[numodNumm].value = "";
                    $(`li:nth-child(${modNum + 1}) .imageFileOfMessageMod`).hide();
                    $(`li:nth-child(${modNum + 1}) .replyThis`).hide();
                    $(`li:nth-child(${modNum + 1}) .giveup`).hide();
                    $(`li:nth-child(${modNum + 1}) .modThis`).hide();
                    $(`ol>li:nth-child(${modNum + 1}) .modStarRating`).html('');
                    $(`li:nth-child(${modNum + 1}) .modImg`).html('');
                    $("#checkDelcover").remove();
                    $("#checkHint").remove();
                    modNum=-1;
                    modMessageImageHtml="";
                    upLoadImageMod="";
                    modSelectedRating = 0;
                    modStarSelectedColor();
                });
        }else if(modNum>-1){
                $(`li:nth-child(${modNum + 1}) .modThis`).hide();
                $(`li:nth-child(${modNum + 1}) .giveup`).hide();
                $(`ol>li:nth-child(${modNum + 1}) .modStarRating`).html('');
                $(`li:nth-child(${num + 1}) .imageFileOfMessageMod`).hide();
                modNum=-1;
        }

        //回覆留言正文
        let num = $(this).parent().index();
        $(`li:nth-child(${num + 1}) .replyThis`).show();
        $(`li:nth-child(${num + 1}) .giveup`).show();
        let getThisReplyText = $(`li:nth-child(${num + 1}) .replyThis`).val();
        let i = $(".messageID")[num].textContent;
        //取得現在時間
        var getNowTime = dayjs().format("YYYY/MM/DD HH:mm:ss");
        var getMessageID=0;
        if (getThisReplyText != '') {
            var errorMessage = false;
            $.ajax({
            url: "/project/setMessage",
            data: {replyID: i,userID: @ID,userName: @name,main: getThisReplyText,date: getNowTime },
            type: 'GET',
            async: false,
            success: (res) =>{getMessageID=res;},
            error: err => {errorMessage = true;}
            })
            if(errorMessage){
                alert("發生錯誤，請聯絡管理員。");
            }
            else{
                var newReplyMessage=$("ol>li")[num];
                newReplyMessage.insertAdjacentHTML("afterend",`
                            <li class="messageBase">
                                <span class="messageID" style="display: none" name="messageID">${getMessageID}</span>
                                <span class="replyID" style="display: none" name="replyID">${i}</span>
                                <span style="font-size:15px" name="userName">用戶: ${userName}</span>
                                <span class="datetime" style="font-size:10px">${getNowTime}</span>
                                <span class="messageDel" style="font-size:15px;color:red">刪除</span>
                                <span class="messageMod" style="font-size:15px">修改</span>
                                <span class="messageComplain" style="font-size:15px">檢舉</span>
                                <span class="messageReply" style="font-size:15px">回覆</span><br>
                                <sapn>回覆: </sapn>
                                <span class="messageWords">${getThisReplyText}</span>
                                <input class="modThis" style="display: none" placeholder="輸入想修改的內容...">
                                <input class="replyThis" style="display: none" placeholder="輸入想回覆的內容...">
                                <span class="giveup" style="font-size:15px;display: none">放棄編輯</span>
                            </li>`);
            
                $(`li:nth-child(${num + 2}) .messageDel`).click(messageDel);
                $(`li:nth-child(${num + 2}) .messageMod`).click(messageMod);
                $(`li:nth-child(${num + 2}) .messageComplain`).click(messageComplain);
                $(`li:nth-child(${num + 2}) .messageReply`).click(messageReply);
                $(`li:nth-child(${num + 2}) .giveup`).click(giveUp);

                $(".replyThis")[num].value = "";
                $(`li:nth-child(${num + 1}) .replyThis`).hide();
                $(`li:nth-child(${num + 1}) .giveup`).hide();
            }
        }
        if(replyNum>-1){
            //當選擇回覆另一個留言時，檢查上個回覆是否有輸入字，並對使用者做出提示，關閉上個回覆留言輸入框
            if($(`li:nth-child(${replyNum + 1 }) .replyThis`).val() != ""){
                //彈出視窗以外的部分為透明層，防止其他操作
                overLay();

                //彈出提示視窗確認是否放棄上個回覆，如果上個回覆不為空
                theHint();
                var popUpWindow = "<span class='popUpHint'>放棄上個回覆嗎?</br>按'是'後無法復原喔。</span><button class='leftIsNo' id='userNo'>否</button><button class='rightIsYes' id='userYes'>是</button>";
                $("#checkHint").html(popUpWindow);

                //點透明層視同取消，移除彈出畫面、透明層
                $("#checkDelcover").on("click",
                    () => {
                        $("#checkDelcover").remove();
                        $("#checkHint").remove();
                        $(`li:nth-child(${num + 1}) .replyThis`).hide();
                        $(`li:nth-child(${num + 1}) .giveup`).hide();
                    });
                $("#userNo").on("click",
                    () => {
                        $("#checkDelcover").remove();
                        $("#checkHint").remove();
                        $(`li:nth-child(${num + 1}) .replyThis`).hide();
                        $(`li:nth-child(${num + 1}) .giveup`).hide();
                    });
                $("#userYes").on("click",
                    () => {
                        //清除文字不能用選擇器
                        $(".replyThis")[replyNum].value = "";
                        $(`li:nth-child(${replyNum + 1}) .replyThis`).hide();
                        $(`li:nth-child(${replyNum + 1}) .giveup`).hide();
                        $("#checkDelcover").remove();
                        $("#checkHint").remove();
                        replyNum=num;
                    });
            }else if(replyNum!=num){
                $(`li:nth-child(${replyNum + 1}) .replyThis`).hide();
                $(`li:nth-child(${replyNum + 1}) .giveup`).hide();
            }
        }
        if($(`li:nth-child(${replyNum + 1}) .replyThis`).val() == "" || replyNum<0)
            replyNum=num;
    }


    //權限
    var identity = '@ViewBag.identity';
    //權限控制
    const allMessageUserID = document.querySelectorAll('li>.userID');
    var count = 0;
    allMessageUserID.forEach(x=>{
        count++;
        let userIDToNum = Number(x.textContent);
        if(@ID != userIDToNum){
            $(`li:nth-child(${count}) .messageDel`).hide();
            $(`li:nth-child(${count}) .messageMod`).hide();
        }else if(@ID == userIDToNum){
            $(`li:nth-child(${count}) .messageComplain`).hide();
        }
    });
    if(@ID<1){
        messageComplain=newMessageList=function(){
            //彈出視窗以外的部分為透明層，防止其他操作
            overLay();
            //彈出提示視窗確認是否刪除留言
            theHint();
            var popUpWindow = "<form action='/project/singin' method='get'><span class='popUpHint'>請先登入</span><button class='leftIsNo' id='userNo'>否</button><button class='rightIsYes' type='submit'>是</button></from>";
            $("#checkHint").html(popUpWindow);

            //點透明層視同取消，移除彈出畫面、透明層
            $("#checkDelcover").on("click",
                () => {
                    $("#checkDelcover").remove();
                    $("#checkHint").remove();
                });
            $("#userNo").on("click",
                (e) => {
                    e.preventDefault();
                    $("#checkDelcover").remove();
                    $("#checkHint").remove();
                });
        }
    }
    if(identity!="seller"){
        $(".messageReply").hide();
    }




    //透明層
    function overLay(){
        var overlay = document.createElement('div');
        overlay.setAttribute('id', 'checkDelcover');
        cover.appendChild(overlay);
    }

    //提示視窗
    function theHint(){
        var hint = document.createElement('div');
        hint.setAttribute('id', 'checkHint');
        document.body.appendChild(hint);
    }

    //先前留言的刪除、修改、檢舉
    $(".messageDel").click(messageDel);
    $(".messageMod").click(messageMod);
    $(".messageComplain").click(messageComplain);
    $(".messageReply").click(messageReply);
    $(".giveup").click(giveUp);

    $("#NewMeessage").keypress(e => {
        if (e.keyCode == 13) {
            newMessageList();
        }
    })

    $("#addNewMeessage").click(newMessageList);

</script>

</html>